/* line 3, ../sass/reset.scss */
button {
  margin: 0;
  outline: 0;
  -webkit-appearance: none;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 0;
  cursor: pointer;
  overflow: visible;
  padding: 0;
  width: auto;
  background: transparent;
  font-size: 100%;
  font: inherit;
  text-align: left;
  text-decoration: none;
  vertical-align: baseline;
}

/* line 22, ../sass/reset.scss */
:focus {
  outline-color: transparent;
  outline-style: none;
}

/* line 27, ../sass/reset.scss */
ul {
  list-style: none;
}

/* line 31, ../sass/reset.scss */
ul,
li {
  background: transparent;
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  outline: none;
  padding: 0;
  text-align: left;
  text-decoration: none;
  vertical-align: baseline;
  z-index: 1;
}
